
/* --------ELEMENTOS DEL DOM-------- */
body{

}
footer{
    position: absolute;
    display: block;
    bottom: 0;
    background-color: black;
    text-align: center;
    margin-left: 5.5%;
    margin-right: 5.5%;
}
footer li{ text-decoration: none!important;  background-color: black}
footer a{color: white!important; text-decoration: underline;}
footer a:hover{color: #c8d0b2!important; text-decoration: underline;}

.funny-header {
    text-align: center;
    padding: 0.6%;
    margin-bottom: 0;
    background-color: rgb(199, 199, 199);
    
}


/* --------TEXTOS-------- */

.highlightDescription {
    font-family: sans-serif;
    font-weight: bold!important;
    text-align: center;
    color: #BE862E;
    ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}




.nombreDestacados p{
    ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
    top: 35%;
    left: 32%;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #BE862E;
}



/*-------- CAROUSEL --------*/
.indicators{ bottom: -35px; }
.carousel-indicators .active{
    background-color: #596a59;
}
.NoIndicators{ display: none; }
.caroulsel-smaller-controls{ width: 8%; }
.carousel-controls-color{ color: #0d890d; }

/* --------VERTICAL OFFSET CLASES-------- */
.vOffset1 { margin-top: 1%; }
.vOffset2 { margin-top: 2%; }
.vOffset3 { margin-top: 3%; }


.footerCajas{
    height: 30px;
    padding: 5px;
    background: linear-gradient(to bottom, #67841c 0%,#d2d6c7 50%,#6a8621 100%);
}
.footerCajas > p {
    text-align: center;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold!important;
    color: #374a08;
}


/* --------OTRAS CLASES DE UTILIDAD-------- */

.navbar-brand:hover{
    font-weight: bold;
    font-size: 26px;
}

.btnSesion{ /* Posicionamiento de boton inicio de sesion */
    float: right;
    color: #374a08;
    font-weight: bold;
    margin-top: 0.7%;
    background: linear-gradient(to bottom, #6a8621 0%,#d2d6c7 50%,#6a8621 100%);
}
.btnSesion:hover{
    background: linear-gradient(to bottom, #324307 0%,#d2d6c7 50%,#324307 100%);
}
.btnBuscar{ /* Posicionamiento de boton inicio de sesion */
    font-weight: bold;
    background: linear-gradient(to bottom, #6a8621 0%,#4b2c0d 50%,#6a8621 100%);
}
.btnBuscar:hover{
    background: linear-gradient(to bottom, #324307 0%,#d2d6c7 50%,#324307 100%)!important;
}
.btnCajas{ /* Posicionamiento de boton inicio de sesion */
    position: absolute;
    z-index: 1;
    border: 0;
    background: rgba(132, 160, 57, 0.47);
    bottom: 33px;
    right: 40px;
}
.btnCajas:hover, .btnCajas:focus{
    background: #84a039;
}
.btnProductos{ /* Posicionamiento de boton inicio de sesion */
    position: absolute;
    z-index: 1;
    border: 0;
    background: rgba(132, 160, 57,1);
    bottom: 45px;
    right: 40px;
}
.btnProductos:hover, btnProductos:focus{
    color: black;
}
.btnCajaDestacados{ /* Posicionamiento de boton inicio de sesion */
    position: relative;
    float: right;
    right:7%;
    margin-top: 0%;
    z-index: 10;
    border: 0;
    width: 180px;
    background: rgba(132, 160, 57, 0.47);
    margin: 0 auto;
}
.btnCajaDestacados:hover, .btnCajaDestacados:focus{
    background: #84a039;
}
.img-center {
    margin: 0 auto;
}



.try{
    background-color: #C6C6C6;
}





/*FORMULARIO REGISTRO*/
#cuerpoFormulario{
    position: absolute;
    background: url(../img/fondo_arena.png);
    background-repeat: no-repeat; 
    text-align: cover;
    top: 25%;
    left: 16%;
    width: 68%;
    height: 60%;
    border: 1px solid;
}

#headerFormulario{
    position: absolute;
    height: 10%;
    width: 100%;
    text-align: center;
    background: linear-gradient(to bottom, #603813 0%, #a86f39 50%, #603813 100%);
}

#headerFormulario>p{
    position: relative;
    font-family: 'ni7seg';
    color: #FDD1A8;
    margin-top: 1%;
}

#cajaDogtag{
    width: 44%;
    height: 80%;
}

.dogtagText{
    position: relative;
    z-index: 1;
    text-align: left;
    width: 50%;
    height:10%;
    top: 45%;
    left: 22%;
    -o-transform: rotate(47deg);
    -webkit-transform: rotate(47deg);
    -moz-transform: rotate(47deg);
    -ms-transform: rotate(47deg);
    transform: rotate(47deg);
    //background-color:  blue;
}

#p4Dogtag{
    //background-color: red;
    top: 33%;
    left: 8%;
}
#p2Dogtag{
    //background-color: red;
    top: 45%;
    left: 20%;
    text-align: left;
}

#imgDogtag{
    position: absolute;
    width: 44%;
    height: 80%;
    bottom: 13%;
    left: -4%;
}

#formulario{
    position: absolute;
    text-align: left;
    left: 30%;
    top: 10%;
    width: 67%;
    height: 90%;
}

#formulario label{
    position: relative;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 4%;
}

#formulario input{
    position: relative;
    margin-bottom: 2%;
    margin-top: 1%;
}

#formulario input:focus{
    background:  rgba(154, 117, 84, 0.74);
}


#formulario input:last-child{
    position: absolute;
    right: 107%;
    top: 85%;
    height: 40px;
    width: 150px;
    font-family: 'ni7seg';
    color: #FDD1A8;
    background: linear-gradient(to bottom, #603813 0%, #a86f39 50%, #603813 100%);
}

.visible{
    visibility: visible;
}
.oculto{
    visibility: hidden;
}


.panelGuest li a .nomostrar{
    display: none!important;
    color: red;
}
.nomostrar{
    display: none!important;
}




.cuerpoCatalogo{
    background-color: rgba(213, 189, 167, 0.72);
    padding: 0;
    margin-bottom: 10px;
}



#modalShare {
    margin-left:-200px;
 }

@media (max-width: 767px) {
    #modalShare {
        width: auto;
        margin-left: auto;
    }
}

#modalShareBody {
    display: none; 
}
#resultsUsers{ display: none}
#resultsCategories{ display: none}
#resultsProducts{ display: none}
#panelGuest{
    float:left;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    border-right:solid #ff920a 2px;
    z-index: 1;
}
#panelGuest li{
    font-size: 16px; 
    background-color: #C6C6C6;
    margin-bottom: 5px;
}
.botonBorrar{
    top:-2px;
    z-index: 10;
    margin-left: 5px!important;
}
.botonModificar{
    top:-2px;
    z-index: 10;
}
.botonModificar:hover{
    color: black!important;
}


#formFile {
    display: none;
}



.panel header a{
    margin: 0px!important;
    padding: 0px;
}

#elementos{
    margin: 0;
    padding: 0;
}



/* -------- NEWS -------- */

.rectangulo > i {
    position: absolute;
    display: inline-block;
    width: 400px;
    height: 180px;
    background-color: #9D9EA0;
    right: 50px;
    top: 80px;
    z-index: 10;
}


.triangulo > i {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 2em solid transparent;
    margin-top: -2em;
    border-bottom: 1em solid #9D9EA0;
    right: 50px;
    top: 66px;
    z-index: 10;
}


.msgcookie{
    display:block;
    position:fixed;
    bottom:0;
    width:100%;
    min-height: 20px;
    background:rgba(0,0,0,0.8);
    color:#fff;
    font-size:11px;
    font-family:sans-serif;
    z-index:1000;
}
.msgcookie p{
    width:90%;
    margin:0 auto;
    background:url(/bundles/web/notice.png) 0 0 no-repeat;
    padding:10px 0 0 20px
}
.msgcookie p a:link,.msgcookie p a:active,.msgcookie p a:visited,.msgcookie p a:hover{
    color:#fff
}
.msgcookie a.close{
    float:right;
    display:block;
    height: 30px;
    width:16px;
    background:url(/bundles/web/cookie.png) 0 -45px no-repeat;
    overflow:hidden;text-indent:-80px;opacity:0.5;margin:0 0 0 40px 
}

a.close:hover{
    opacity:1
}

/************************************************************/
/*--Cabecera:-- */

.navbar-inverse {
    background-color: #20262F;
    border-color: #20262f;
}

.navbar {
    border-radius: 0px;   
}
    
    

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus 
{
    color: rgb(255, 244, 217);
    background-color: #14191E;
}   


h1{
    font-size: 36px;
    text-align: center;
    text-decoration: underline;
    color: rgb(65, 76, 93) !important;
}   
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #08131D;
    background-color: #E9E9E9; (aquí vas a cambiar tambien el color del fondo de a web. esta bien :D)
}

    
.center{
    padding: 10px;
    margin: 0px auto;
    width: 250px;
}
    

.carousel-controls-color {
    color: #FFF;
}
.indicators{ 
    bottom: -25px; 
}
.carousel-indicators .active{
    background-color: #337AB7;
}
    
.foot{
    margin: 2% 0px 0px;
    background-color: #20262F;
}
    
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


    

a {
    text-decoration: none;
}

.btn-info {
    color: #FFF!important;
    background-color: #20262F!important;
    border-style: none;
}
    
