{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div id="registerForm"class="col-xs-12 col-sm-8 col-lg-8">
        <header class="funny-header" style="color:white!important;color: rgb(20, 25, 30)"><h4 style="font-weight:bold;"> REGISTRO </h4></header>
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
            {{ form_widget(form) }}
            <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary" />
        </form>
    </div>
</div>

<script type="text/javascript">
    $('.fos_user_registration_register div').each(function(){
        $(this).css('padding','5px');
    });
    $('input[name=stringToSearch]').parent().remove();
</script>
