{% extends 'baseFunny.html.twig' %}


{% block body%}
<div class="contenedor">
        <h1>Agregando un mensaje de aceptaci&oacute;n de cl&aacute;usulas de uso de cookies</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porta suscipit risus ut tempor. Nunc fringilla lorem nec enim aliquam accumsan. Integer erat turpis, tincidunt vitae turpis sit amet, aliquam ultricies sem. Suspendisse feugiat, diam vitae tempus tincidunt, leo arcu rhoncus urna, et commodo risus felis in nibh. Integer mattis luctus ipsum. Nulla id molestie magna. Aenean rhoncus tellus eget ipsum dignissim dapibus. Suspendisse laoreet varius enim sed accumsan. Nunc ullamcorper velit quis sapien pulvinar rhoncus. Maecenas purus nisl, porttitor nec varius a, malesuada ut augue. Curabitur nisl nunc, convallis eu magna vitae, condimentum consectetur diam. Sed iaculis non sapien sed mollis. Integer condimentum felis in tortor elementum, sit amet dignissim sem semper.</p>

        <p>Etiam posuere purus erat, eget dictum felis molestie vel. In laoreet mi eu ligula tincidunt, sit amet dictum ligula consectetur. Suspendisse dapibus, odio ac porta hendrerit, est magna adipiscing nunc, vel adipiscing libero sem vel libero. Aenean neque metus, venenatis ac iaculis non, laoreet in metus. Etiam euismod est enim, non rhoncus risus cursus sit amet. Ut ultrices, lorem non tincidunt facilisis, tellus libero pellentesque dui, sed consequat magna mi nec tellus. Donec commodo sapien a scelerisque consectetur. Nullam sit amet mollis lectus, vel rutrum mi. Pellentesque euismod turpis auctor mauris eleifend placerat. Nunc tristique porttitor odio in tempor. Nullam in faucibus nisi, ac laoreet nunc. Sed accumsan, risus et rutrum cursus, dui dui vehicula neque, nec vulputate leo lorem eget ligula. Nullam a ultrices mi, vel volutpat enim. In luctus risus libero, ut accumsan ligula condimentum vel. Fusce non ipsum eget arcu porta suscipit.</p>

        <p>Aliquam quis nisl non lectus pretium congue sed eget tellus. Duis elementum dapibus quam non venenatis. Sed eleifend purus ut orci tempus, non vehicula libero dignissim. Nam euismod sodales semper. Sed laoreet, velit ut volutpat pellentesque, mi ipsum posuere justo, quis venenatis ipsum lorem a nibh. Sed elit enim, adipiscing nec egestas eget, molestie et enim. Suspendisse potenti. Ut adipiscing imperdiet malesuada. Aenean mauris ante, feugiat eget rutrum at, sagittis at ipsum. Maecenas commodo elementum augue, a vulputate ipsum imperdiet nec. Vivamus mollis neque et faucibus viverra.</p>

        <p>Cras blandit sodales orci id semper. Proin in nisl a quam blandit commodo. Nam feugiat mauris nec metus fringilla accumsan. Ut lorem nisi, tempus ut dolor tempus, sodales fringilla orci. Maecenas rhoncus neque fermentum magna cursus fermentum. In et diam ullamcorper, venenatis purus non, malesuada lacus. Morbi egestas non dolor id ornare.</p>

        <p>Proin nisl elit, accumsan a nibh at, rhoncus vestibulum ante. Nulla dictum mollis odio eget convallis. Duis mattis dui ut leo laoreet mattis. Nunc at feugiat sapien. Vestibulum justo tortor, dignissim nec arcu a, sollicitudin pulvinar orci. Donec in metus id enim ornare aliquet. Duis vitae rutrum metus.</p>
</div>
{% endblock %}
