<footer class="col-md-12" style="margin:0; background-color:rgb(34, 34, 34);margin-top:2%">
    <div class="col-md-3" style="margin:1% 0">
        <a href="{{path('cookies')}}" target="_blank">Politica de cookies</a>
    </div>
    <div class="col-md-3" style="margin:1% 0">
        <a href="#">Privacidad </a>
    </div>
    <div class="col-md-3" style="margin:1% 0">
        <a href="#">Donde encontrarnos</a>
    </div>
    <div class="col-md-3" style="margin:1% 0">
        <a role="button">About Us</a>
    </div>
</footer>