{% set currentPath = app.request.attributes.get('_route') %}
{% if ( categories is not defined or categories is null) %}
    {% if (currentPath == 'fos_user_security_login' or currentPath == 'fos_user_registration_register' or
                            currentPath== 'fos_user_profile_show' or currentPath== 'fos_user_profile_edit') %}

    {% else %}
    <li style="height:50px;margin:0 5px 0 5px;" class ="dropdown">
        <a href="#">Realizando un mantenimiento del catalogo</a>
    </li>
    {% endif %}
{% else %}
{% for category in categories %} 
    {% if category.parent is null%}
    <li style="height:50px;margin:0 5px 0 5px;" class ="dropdown">
        <a  href="#"> {{category.name}} </a>
        <span class="dropdown-toggle glyphicon glyphicon-menu-down" data-toggle="dropdown" ></span>
        {% if category.childrens is not empty%}
            <ul  class="dropdown-menu " role="menu">
            {% for children in category.childrens %}
                    <li><a href="#"> {{ children.name }} </a></li>              
            {% endfor %}
            </ul>
        {% endif %}
    </li>
    {% endif %}
{% endfor %}
{% endif %}
   
